{% extends 'base.html' %}
{% load static %}


{% block content %}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaPeT3CAT5RnWa9yCfwP0I5CZMgzRFyhhD9a5ifTLszDBMwyzv&usqp=CAU" class="" alt="">
    <hr>
    <section>
        <div class="container">    
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 my-auto">
                    <div class="card" style="width: 18rem; height: 18rem">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQPwG39A5qy2LvzLYivrh9EogOHlryozIGOLPIwZ_VlWOk7q2yY&usqp=CAU" class="" alt="">
                    </div>
                </div>    
                <div class="col-sm-12 col-md-6 col-lg-4 my-auto">    
                    <div class="card" style="width: 18rem; height: 18rem">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKfE9D9HaSFVarlEiN7xiUeD0jBnrHIiFpWfNE6odY44UU2qzp&usqp=CAU" class="" alt="">
                    </div>
                </div>    
                <div class="col-sm-12 col-md-6 col-lg-4 my-auto">    
                    <div class="card" style="width: 18rem; height: 18rem">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQD4c3NsHVaOZDaC4cMvkl956WhNgQ3zXz1_tgNjRiADxWQMPJR&usqp=CAU" class="" alt="">
                    </div>
                </div>
            </div> 
        </div>        
    </section>         
{% endblock%}

  