<!-- {% extends 'base.html' %}
{% load static %}


{% block content %}
<h2>Tires</h2>
<section class="container">
    <div class="row gears">
        <div class="col-sm-12 col-md-6 col-lg-4 my-auto">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRsLHGGniO_FS580OrtfFF8-pMxufud0BY_7xE5yDAIjg-zBDpzhY5Oz-ehxKwQSPSNlOhn9F2vRwo&usqp=CAc" class="card-img products" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'products' %}">Michelin Wild Enduro Gum-X TS TLR Rear MTB Tyre</a></h5>
                            <p class="card-text"><strong>£34.99</strong></p>
                        </div>
                    </div>
                </div>
            </div>
`        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-auto">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcS6XjcKn0uisztMCIiAvMFqDjtw4TMFACyvvLK1k7KGMJoFxZnHoIs1n_HlOxnP&usqp=CAc" class="card-img products" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'products' %}">Maxxis Ardent MTB Tyre (EXO - TR)</a></h5>
                            <p class="card-text"><strong>£31.99</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-auto">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQAzPNOKIuMKaftasNF8aI1ihrz2BIdHkkr8NGWShkm6pKbrAPcHda9IcS4Sgii&usqp=CAc" class="card-img products" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'products' %}">Maxxis Minion DHF Wide Trail Tyre - EXO - TR</a></h5>
                            <p class="card-text"><strong>£34.99</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col-sm-12 col-md-6 col-lg-4 my-auto">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRQ2E2i3Yc2HlKoDvsW_E5HrcH94IwVS5sXCbZHO5kQTKWz9YduMyM_oBqwoWCdtw&usqp=CAc" class="card-img products" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'products' %}">Maxxis Minion DHR II Tyre - EXO - TR</a></h5>
                            <p class="card-text"><strong>£33.49</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</section>
{% endblock %} -->