{% extends 'base.html' %}
{% load static %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Your Shopping Basket</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if basket_item %}
                <div class="table-responsive"></div>
                {% else %}
                <p class="basket">Your have an empty basket</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
