<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Your Shopping Basket</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {% if basket_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th class="shopping">Part Description</th>
                                    <th class="shopping">Price</th>
                                    <th class="shopping">Quantity</th>
                                    <th class="shopping">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in basket_items %}
                                <tr>
                                    <td class="py-3 w-50">
                                        <p><strong>{{ item.part.name }}</strong></p>
                                    </td>
                                    <td class="py-3 w-10">
                                        <p>£{{ item.part.price }}</p>
                                    </td>
                                    <td class="py-3 w-10">
                                        <form class="form" action="{% url 'update_basket' item.item_id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-12">
                                                    <div class="form-group w-50">
                                                        <div class="input-group">
                                                            <input class="form-control" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="{{ item.item_id }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                           
                                           </form>
                                    </td>
                                    <td class="py-3 w-10">
                                        <p>£{{ item.part.price | add_subtotal:item.quantity }}</p>
                                    </td>
                                    <td>
                                        <a class="remove-item shopping btn btn-black" id="remove_{{ item.item_id }}"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-center">
                                    <h4>Total:</h4> <p>£{{ total|floatformat:2 }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <a href="{% url 'home' %}" class="shopping btn btn-black">
                                        <span class="text-uppercase">More Shopping</span>
                                    </a>
                                    <a href="{% url 'purchase' %}" class="shopping btn btn-black">
                                        <span class="text-uppercase">Secure Payment</span>
                                        <span class="icon">
                                            <i class="fas fa-credit-card"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>        
                {% else %}
                    <p class="basket">Your have an empty basket</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;

        $ post(url, {csrfmiddlewaretoken: csrfToken});
            .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}