{% extends 'base.html' %}
{% load static %}


{% block content %}
<h2>Your Shoppping Basket</h2>
<section>
    <div class="container">
    <hr>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>
                    <div class="card bg-dark">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQPwG39A5qy2LvzLYivrh9EogOHlryozIGOLPIwZ_VlWOk7q2yY&usqp=CAU" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Gears</h5>
                        </div>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</section>

{% endblock %}
