@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
}

header a {
    font-family: 'Permanent Marker';
    color: black;
}

header a:hover {
    color: black;
}

h2,h3,h5,h6 {
    font-family: 'Permanent Marker';
}

/* Navbar */

.navbar-brand {
    font-size: 50px;
}


/*  *Image under the the Navbar */

.mountain {
    height: auto;
    width: auto;
    max-width: 100%;
}

.top-right {
    color: white;
    font-family: 'Permanent Marker';
    position: absolute;
    top: 220px;
    right: 100px;
}

/* Images in the cards */

.card-img {
    opacity: 0.6;
}

.card-title {
    color: black;
    font-family: 'Permanent Marker';
}


/* Gear cards */
/* Title */

h2 {
    text-align: center;
}

.gears {
    margin: 40px;
}

/* Footer */

.footer {
  position: relative;
  height: 50px;
  top: 35px;
  width: 100%;
  background-color: rgb(180, 180, 180);
  color: white;
  text-align: center;
}

p {
    margin-bottom: 0;
}

/* Basket */

.basket {
    margin-top: 100px;
    margin-bottom: 235px;
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 150%;
}

/* Register */

.register {
    margin-top: 20px;
}
 
.register-form {
    margin: 0 auto;
    width: 500px;
}

.up{
    margin-top: 30px;
    margin-bottom: 30px;
}

.up a {
    color: white;
}

/* Products */

.products {
    opacity: 1;
}

.shopping {
    font-family: 'Permanent Marker';
}