<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'purchase/css/checkout.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Your Shopping Basket</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h5 class="text-muted">Please complete the form.</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sml-12 col-lg-6">
                <form action="{% url 'purchase' %}" method="POST" id="">
                    {% csrf_token %}
                    <fieldset class="rounded"> 
                            <legend class="fieldset-label small px-2 w-auto"></legend>
                            {{ purchase_form.full_name | as_crispy_field }}
                            {{ purchase_form.email | as_crispy_field }}
                            {{ purchase_form.phone_number | as_crispy_field }}
                            {{ purchase_form.street_address1 | as_crispy_field }}
                            {{ purchase_form.street_address2 | as_crispy_field }}
                            {{ purchase_form.town_or_city | as_crispy_field }}
                            {{ purchase_form.county | as_crispy_field }}
                            {{ purchase_form.postcode | as_crispy_field }}
                            {{ purchase_form.country | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset class="px-3">
                        <h4 class="text-muted px-2 w-auto">Payment</h4>
                        <div class="mb-3" id="card-element"></div>
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    
                    <div class="submit-button text-right mt-5 mb-2">                    
						<a href="{% url 'basket' %}" class="btn">
							<h6>Adjust Basket</h6>
						</a>
						<button id="submit-button" class="btn">
							<h6>Complete Purchase</h6>
						</button>
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>You will be charged <strong>£{{ total|floatformat:2 }}</strong> on your card.</span>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'purchase/js/stripe_elements.js' %}"></script>
{% endblock %}