<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block content %}
<h2>Drivetrain Components</h2>
{% for product in products %}
<section class="container">
    <div class="row gears">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card mb-6" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="{{ product.image.url }}" class="card-img products" alt="{{ product.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'product_details' product.id %}">{{ product.name }}</a></h5>
                            <p class="card-text"><strong>£{{ product.price }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    
{% endfor %}        
        <!-- <div class="col-sm-12 col-md-6 col-lg-4 my-auto">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTuUZazNLIXybznpEs0qxe3xOQ34eKJtOPCYXyxIlz1F0WE4xm89qA6Zo0nSIrIcjxZBI8uscYc_w&usqp=CAc" class="card-img products" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'products' %}">SRAM XX1 Eagle 1x12sp Boost Groupset - DUB</a></h5>
                            <p class="card-text"><strong>£899.99</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-auto">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://media.chainreactioncycles.com/is/image/ChainReactionCycles/prod148563_Black_NE_01?wid=728&hei=498" class="card-img products" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'products' %}">Shimano SLX M7000 11sp Rear Derailleur</a></h5>
                            <p class="card-text"><strong>£57.99</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col-sm-12 col-md-6 col-lg-4 my-auto">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://www.bikeinn.com/f/13647/136474095/sram-xx1-eagle-bb30al-dm.jpg" class="card-img products" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'products' %}">Sram XX1 Eagle BB30Al DM</a></h5>
                            <p class="card-text"><strong>£408.50</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> --->

{% endblock %}